* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scrollbar-width: auto;
    scrollbar-color: #ff4d05 #ffffff;
}

*::selection {
    background-color: #ff4d05;
}

a::selection {
  background-color: white;
}

span::selection {
    background-color: var(--text-color);
}

.active::selection {
    background-color: var(--text-color);
}

*::-webkit-scrollbar {
    width: 6px;
  }

*::-webkit-scrollbar-track {
    background: #1b1411;
}

*::-webkit-scrollbar-thumb {
    background-color: #ff4d05;
    border-radius: 5px;
    border: 2px solid #1b1411;
  }

:root {
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: #ff4d05;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body {
    color: var(--text-color);
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

header {
    position: fixed;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6054796918767507) 51%, rgba(0,212,255,0) 100%);
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 15%;
    transition: all .45s ease;
}

.logo {
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-right: 50px;
    transform: translateX(-150px);
}

.logo img {
  height: 75px;
}

span {
    color: #ff4d05;
}

.navlist {
    display: flex;
    align-items: end;
    transform: translateX(-150px) translateY(-10px);
}

.navlist a {
    color: var(--second-color);
    font-size: 15px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}

.navlist a:hover {
    color: var(--main-color);
}

.navlist a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

.pianista a {
  color: var(--main-color);
}

.home {
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: start;
}

.slide {
    margin-bottom: 20px;
}
.one {
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--text-color);
}
.two {
    display: inline-block;
    color: var(--second-color);
    font-size: 20px;
    font-weight: 500;
}

.home-text {
  margin-left: 10%;
  margin-top: 0;
  transform: translateY(-30px);
}

.home-text h1 {
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
    margin: 0 0 8px;
    text-shadow: 0px 1px 7px rgba(0,0,0,0.65);
}
.home-text h3 {
    color: var(--text-color);
    margin: 0 0 35px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
}
.home-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 40px;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.65);
}

.button {
    display: block;
    align-items: left;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
}

.btn:hover {
    transform: scale(0.9);
}

.btn3 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 0px;
}

.btn3 span i {
    height: 55px;
    width: 55px;
    background: red;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    border-radius: 50%;
    margin-right: 15px;
    transition: all .45s ease;
}

.btn3 span i:hover {
    transform: scale(1.1) translateY(5px);
}

header.sticky {
    background: #0a0503c9;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid #0a0503;
    padding: 12px 15%;
}

.sobre {
    background-color: #000000ce;
    backdrop-filter: blur(7px);
    box-shadow: 0px 0px 71px 0px rgba(0,0,0,1);
    border: 2px solid rgba(255, 255, 255, 0.11);
    height: 80vh;
    width: 80vw;
    margin: auto;
    border-radius: 30px;
    text-align: center;
    font-size: 1.1em;
    line-height: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre h1 {
    margin-bottom: 5%;
}

.pianista {
    height: auto;
    box-shadow: 0px 0px 70px 28px rgba(0,0,0,0.8);
    background-color: rgba(0, 0, 0, 0.747);
    backdrop-filter: blur(7px);
    margin-top: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-top: 2px solid rgba(255, 255, 255, 0.11);
    border-bottom: 2px solid rgba(255, 255, 255, 0.11);
}

.seila {
  display: inline-flex;
  column-gap: 50px;
  align-items: center;
  justify-content: center;
}

.confoto {
  margin: auto;
  
}

.confoto img {
  border-radius: 5px;
  height: 120px;
  margin-top: 0px;
  box-shadow: 0px 0px 59px 13px rgba(0,0,0,1);
}

.pianista h1 {
    margin-bottom: 35px;
    text-align: center;
}

.pianista h2 {
  margin-top: 45px;
}

.pianista p {
  color: rgb(207, 207, 207);
  margin-bottom: 25px;
}

.disclink {
  background-color: var(--main-color);
  color: white;
  padding: 2px;
  border-radius: 5px;
}

.pianista h4 {
  margin-top: 55px;
}

.container {
    display: flex;
    column-gap: 25px;
    align-items: center;
    justify-content: center;
}

.wrappers {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 25px;
  margin-top: 25px;
}

.cart {
    width: 275px;
    height: 375px;
    background-color: rgba(12, 7, 1, 0.637);
    border: 1px solid rgba(255, 255, 255, 0.322);
    box-shadow: 0px 0px 24px 9px rgba(0,0,0,0.4);
    border-radius: 25px;
    text-align: center;
    padding: 0px;
    font-size: 0.9em;
}

.arranjador {
    margin-top: 120px;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    font-size: x-large;
    background-image: url(bg2.jpg);
    background-size: cover;
    box-shadow: 0px 25px 96px -13px rgba(0,0,0,0.75);
}

.arranjador h2 {
    line-height: 2.9em;
}

.arranjador h3 {
  font-weight: lighter;
  font-size: 0.8em;
  margin-bottom: 7px;
}

.arranjador h4 {
  font-size: small;
  font-weight: lighter;
}

.box {
  margin-bottom: 25px;
}

.caixa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  width: 450px;
  margin: auto;
}

.arranjador img {
    height: 130px;
    width: 130px;
    border-radius: 25px;
}

.arranjador a {
    color: #ff4d05;
}

@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

.laranja {
  font-size: large;
  text-align: center;
  margin-bottom: 20px;
  color: var(--main-color);
  background-color: rgba(12, 4, 0, 0.705);
  width: 400px;
  border: 1px solid rgba(165, 165, 165, 0.555);
  padding: 10px;
  border-radius: 15px;
  font-size: 1em;
  margin-left: 50vw;
  backdrop-filter: blur(5px);
  animation: infinite 5s ease-in-out translocar;
  animation-delay: 2s;
  box-shadow: 0px 0px 43px 30px rgba(0, 0, 0, 0.808);

}

@keyframes translocar {
  50% {
    margin-left: 45vw;
  }
  100% {
    margin-left: 50vw;
  }
}

@keyframes deslocar {
  50% {
    margin-left: 25vw;
  }
  100% {
    margin-left: 20vw;
  }
}

.laranja::selection {
  background-color: white;
}

.branco {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  background-color: rgba(12, 4, 0, 0.705);
  width: 400px;
  border: 1px solid rgba(165, 165, 165, 0.555);
  padding: 10px;
  border-radius: 15px;
  font-size: 1em;
  margin-left: 20vw;
  backdrop-filter: blur(5px);
  animation: infinite 5s ease-in-out deslocar;
  box-shadow: 0px 0px 43px 30px rgba(0, 0, 0, 0.801);
}

#big {
  width: 470px;
}

.regente {
  padding-top: 50px;
  background-color: black;
  height: 1400px;
  font-family: 'DM Sans', sans-serif;
  transition: background .4s ease-in;
  background-image: url(regente.jpg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.regente h2 {
  padding-top: 50px;
  text-align: center;
  margin-bottom: 75px;
  font-size: 2em;
}

input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.container2 {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  flex-direction: column;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.player {
  background-color: #fff;
  border-radius: 8px;
  min-width: 320px;
  padding: 16px 10px;
}

.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 36px;
  overflow: hidden;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.cart:hover {
  transition-duration: 0.5s;
  transform: scale(1.05);
}

.cart > .imagem {
  height: 115;
  width: 200;
  border-radius: 10px;
}


.song-info {
  width: calc(100% - 32px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.song-info .title {
  color: #403d40;
  font-size: 14px;
  line-height: 24px;
}


.subtitle, .time {
  font-size: 12px;
  line-height: 16px;
  color: #c6c5c6;
}

.time {
  font-size: 12px;
  line-height: 16px;
  color: #a5a5a5;
  font-weight: 500;
  margin-left: auto;
}

.musica {
  margin-right: 30px;
}

.progress {
  display: block;
  position: relative;
  width: 60%;
  height: 100%;
  background-color: #2992dc;
  border-radius: 6px;
}

.info-area {
  width: 100%;
  position: absolute;
  top: 0;
  left: 30px;
  transition: transform .4s ease-in;
}

#item-2:checked ~ .player #test {
  transform: translateY(150);
}

#item-2:checked ~ .player #test  {
  transform: translateY(-55px);
}

#item-3:checked ~ .player #test  {
  transform: translateY(-110px);
}

.wrapper {
  display: flex;
  align-items: center;
  height: 900px;
}

.slide-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.slide-list {
  display: flex;
}

.slide-item {
  cursor: grab;
  flex-shrink: 0;
  padding: 0 10px;
  width: 30vw;
}

.slide-content {
  border-radius: 10px;
  border: 1px solid #a8a8a870;
  box-shadow: #070707 0px 12px 12px;
  position: relative;
}

.slide-image {
  border-radius: 10px;
  width: 100%;
}

.slide-description {
  border-radius: 10px;
  background: linear-gradient(to top, #000, transparent);
  color: #fff;
  position: absolute;
  padding: 30px;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.slide-description h3 {
  font-family: 'Koulen', sans-serif;
  font-size: 48px;
  position: relative;
  top: 16px
}

.slide-description p {
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
}

.slide-nav-button {
  background: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 36px;
  position: absolute;
  z-index: 1;
}

.slide-nav-previous {
  left: 20px;
}

.slide-nav-next {
  right: 20px;
}

.slide-controls {
  margin: 30px auto 0;
  display: none;
}

.slide-nav-button {
  display: none;
}

.slide-control-button {
  color: #fff;
  cursor: pointer;
  background: transparent;
  font-size: 18px;
  margin: 0 5px;
}

.slide-control-button.active {
  color: #cd8cf5;
}

.carousel {
  height: 1000px;
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.781);
}

.h2foto {
  text-align: center;
  padding-top: 50px;
}

.ig {
  text-align: center;
  margin-top: 50px;
}

.ig a {
  color: var(--main-color);
}

@media screen and (max-width: 768px) {
  .slide-description {
      padding: 10px;
  }
  
  .slide-description h3 {
      font-size: 24px;
      top: 0;
  }

  .slide-description p {
      display: none;
  }

  .slide-nav-button {
      margin-top: -20px;
      font-size: 28px;
  }
  
  .slide-nav-previous {
      left: 10px;
  }
  
  .slide-nav-next {
      right: 10px;
  }

  .slide-controls {
      margin: 15px auto 0;
  }

  .slide-control-button {
      font-size: 14px;
  }
}

.professor {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(50,15,0,1) 100%);
  padding-bottom: 50px;
}

.canal {
  padding-top: 25px;
}

.bloco {
  display: flex;
  width: 70vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 50px;
  column-gap: 25px;
  font-size: 1em;
}

.texto2 {
  margin-left: 75px;
}

.texto3 {
  margin-left: -45px;
}

.texto4 {
  margin-left: -35px;
}

.texto5 {
  margin-left: -150px;
}

.textoj {
  margin-left: -75px;
}

#imgprof2 {
  margin-left: 50px;
}

#imgprof4 {
  margin-left: 30px;
}

#imgprof3 {
  margin-left: 10px;
}

.imgprof {
  height: 200px;
  border-radius: 50%;
}

.texto6 {
  margin-left: -15px;
}

@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

/*Ignore me, I'm just page styling*/

h1 {font-size:1.5em;margin-bottom:55px;}

#social-platforms {
  position:relative;
  top:100px;
  top:25vh;
  font-size:1rem;
  text-align:center;
  height:250px;
  overflow:hidden;
}

/*Pen code from this point on*/
.btn2 {
  clear:both;
  white-space:nowrap;
  font-size:.8em;
  display:inline-block;
  border-radius:5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
  background-color: #212121;
  margin:2px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  overflow:hidden
}

.btn2:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
}

.btn2:focus {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.btn2 > span,.btn-icon > i {
  float:left;
  padding:13px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  line-height:1em
}

.btn2 > span {
  padding:14px 18px 16px;
  white-space:nowrap;
  color:#FFF;
  background:#b8b8b8
}

.btn2:focus > span {
  background:#9a9a9a
}

.btn-icon > i {
  border-radius:5px 0 0 5px;
  position:relative;
  width:13px;
  text-align:center;
  font-size:1.25em;
  color:#fff;
  background:#212121
}

.btn-icon > i:after {
  content:"";
  border:8px solid;
  border-color:transparent transparent transparent #222;
  position:absolute;
  top:13px;
  right:-15px
}

.btn-icon:hover > i,.btn-icon:focus > i {
  color:#FFF
}

.btn-icon > span {
  border-radius:0 5px 5px 0
}

/*Facebook*/
.btn-facebook:hover > i,.btn-facebook:focus > i {
  color:#3b5998
}

.btn-facebook > span {
  background:#3b5998
}

/*Twitter*/
.btn-twitter:hover > i,.btn-twitter:focus > i {
  color:#55acee
}

.btn-twitter > span {
  background:#55acee
}

/*Google*/
.btn-googleplus:hover > i,.btn-googleplus:focus > i {
  color:#dd4b39
}

.btn-googleplus > span {
  background:#005813
}

/*Pinterest*/
.btn-pinterest:hover > i,.btn-pinterest:focus > i {
  color:#cb2028
}

.btn-pinterest > span {
  background:#cb2028
}

.btn-whatsapp > span {
  background:#00860b
}

/*LinkedIn*/
.btn-linkedin:hover > i,.btn-linkedin:focus > i {
  color:#007bb6
}

.btn-linkedin > span {
  background:#007bb6
}

.contato {
  background-color: black;
  height: 450px;
}

.produtor {
  background-image: url(bg3.jpg);
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.produtor p {
  margin-top: 35px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.658);
  border-radius: 15px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(173, 173, 173, 0.432);
  box-shadow: 0px 0px 43px 30px rgba(0, 0, 0, 0.801);
  padding: 15px;
}

.ghelfi {
  font-size: larger;
}